<p id="notice"><%= notice %></p>

<h1>Listing Naievents</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Location</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @naievents.each do |naievent| %>
      <tr>
        <td><%= naievent.title %></td>
        <td><%= naievent.location %></td>
        <td><%= naievent.date %></td>
        <td><%= link_to 'Show', naievent %></td>
        <td><%= link_to 'Edit', edit_naievent_path(naievent) %></td>
        <td><%= link_to 'Destroy', naievent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Naievent', new_naievent_path %>
